/* index style */
#header{width: 100%;height: .5rem; position: fixed;top: 0;left: 0;background: #1fa67a; opacity: .9; display: flex; z-index: 999;  display: box;  display: -webkit-box;display: -moz-box;display: -ms-flexbox;	 
  display: -webkit-flex;  display: flex;}
.voice,.photos{width: .6rem;height: .5rem; line-height: .5rem;text-align: center; color: #fff; font-size: .25rem; cursor: pointer;}
.search{ width: 100%;}
.search input{margin-top:.1rem;-webkit-box-flex: 1; -moz-box-flex: 1; width: 20%;  -webkit-flex: 1;-ms-flex: 1; flex: 1;border-radius: .1rem;width: 100%;height: .3rem;font-size: .16rem;line-height: .3rem;text-align: center;overflow: hidden;}
.indexslider{width: 100%;height: 2rem;position: relative;margin-top: .5rem;}
.indexslider .swiper-slide,.swiper-wrapper{ height: 2rem; }
.swiper-slide img{width: 100%;height: 2rem;}
.topzhezhao {height: .45rem;width: 100%;position: absolute;bottom: 0;left: 0;opacity: 0.7;background-color: #000;z-index: 999;}
.topzhezhao .leftslidecontent{width: 2rem; height: .45rem; float: left; background-color: #000;} 
.leftslidecontent p{line-height: .2rem; display: block; width: 2rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #fff; text-indent: .1rem; background-color: #000;} 
.topzhezhao a{width: 1rem; height: .3rem; line-height: .3rem; background-color: #1fa67a;opacity: 0.9; color: #fff; border-radius: .1rem; display: block; text-align: center; font-size: .18rem; margin-top: .07rem; margin-right: .05rem; float: right;}
.nav-more-list{display: none; position: absolute; top: .54rem; right: .1rem; background: #484F55; z-index: 999; border: 1px solid transparent; border-radius: 2px;}
.nav-more-list li{border-bottom: 1px solid #5B6166; width: 1.2rem; height: .4rem; line-height: .4rem; text-align: left; text-indent: .27em; background: #484F55; opacity: .9;}
.on-block{display: block;}
.nav-more-list li a{position: relative; display: block; width: 100%; color: #fff; z-index: 112;}
.nav-more-list li a.nav-more-icon span{margin-left: 5px; font-size: .14rem;}
.nav-more-list:after{z-index: 999; content: ""; position: absolute; top: -.24rem; right: .06rem; display: inline-block; width: 0; height: 0; border-style: solid; border-color: transparent transparent #484F55; border-width: .12rem;}
/*nav*/
.nav-category{padding-top: .11rem; position: relative; background-color: #FFFFFF;}
.nav-category:after{ content: ''; clear: both;display: block;}
.nav-category a{width: 25%; float: left; font-size: 12px; text-decoration: none; color: #666; text-align: center; display: block; padding-bottom: 10px;}
.nav-category img{display: block; width: 40px; height: 40px; margin: 0 auto 6px auto;}
/*floor*/
.floor{position: relative; font-size: 0; width: 100%;}
.floor-title-container{position: relative; height: 34px; line-height: 34px; margin: 0 auto; background-color: #fff; font-size: 16px; padding-left: 8px; padding-right: 8px; overflow: hidden;}
.v5-title{width: 100%; height: .3rem; background: url(../images/tese.png) center center; background-size: 100% .3rem;}
.floor-container{position: relative; width: 100%; height: 100%; overflow: hidden; font-size: 0;}
.floor-item{width: 100%; font-size: 100%; overflow: hidden;}
.container-col02{width: 50%; height: 100%; float: left; background-color: #fff;}
.floor .opa1{opacity: 1; width: 100%; -webkit-transition: opacity .3s ease-in;}
.container img{position: relative; width: 100%; height: auto; overflow: hidden;}
.bdr-bottom{position: relative;}
.bdr-bottom:after{height: 1px; content: ''; width: 100%; border-top: 1px solid #f0f0f0; position: absolute; bottom: -1px; right: 0; transform: scaleY(0.5); -webkit-transform: scaleY(0.5); z-index: 10;}
.floor-container a{position: relative; display: block;}
.bdr-r{position: relative;}
.bdr-r:after{height: 100%; content: ''; width: 1px; border-right: 1px solid #f0f0f0; position: absolute; top: 0; right: -1px; transform: scaleX(0.5); -webkit-transform: scaleX(0.5); z-index: 10;}
/*product*/
.gray-text{position: relative; display: -webkit-box; margin: .05rem .05rem; color: #848689; font-size: .14rem; -webkit-box-pack: center;}
.gray-layout{padding: 0 10px; background-color: #f6f6f6; z-index: 10; position: relative; display: block;}
.gray-text:after{content: ""; height: 1px; width: 100%; position: absolute; top: 50%; left: 0; background-color: #cbcbcb; -webkit-transform: scaleY(0.5);}
.product{width: 100%;position: relative;margin-bottom: .58rem;}
.product ul li{min-height: 1.25rem;overflow: hidden;margin: .1rem;background-color: #fff;box-shadow: 0 0 .05rem #ccc;border: 1px solid #f2f2f2;}
.top{width: 0; height: 0; border-top: .6rem solid #1fa67a; border-right: .6rem solid transparent; position: relative; z-index: 990; cursor: pointer;}
.pl10{padding-left: .1rem;}
.shuxing{color: #fff;padding-top: .05rem;    padding-left: .1rem; width: .4rem;display: block; height: .4rem; position: relative;z-index: 999;margin-top: -.6rem;font-size: .14rem;transform:rotate(-45deg);   cursor: pointer;}
.primg,.primg img{width: 1rem; margin-top: -.24rem;}
.prcontent{width: calc(100% - 1rem); margin-top: -.4rem;}
.prcontent .title{font-size: .16rem; color:#4a534e; font-weight: bold;}
.prcontent .content{font-size: .13rem;color: #999;margin-top: .05rem;}
.prcontent .price{font-size: .14rem;color: #999;margin-top: .1rem;}
.money{color: #1fa67a;font-weight: bold;}
.hot_p{border-top-color: #eb6100;}
.new_p{border-top-color: #f39800;}
