html{font-size: 625%}
body{padding: 0;margin: 0; font-family: "Microsoft YaHei";font-size: .12rem;color: #444;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);background-color: #f6f6f6;}	
ul,li{list-style: none;padding: 0;margin: 0;}	
p,input{margin: 0;padding: 0; border:0;}
.pl10{padding-left: .1rem;}
.pr10{padding-right:.1rem;}
.fs12{font-size: .12rem}
.fs14{font-size: .14rem}
.fs16{font-size: .16rem}
.fs18{font-size: .18rem}
.bfs12{font-size: .12rem;font-weight: bold;}
.bfs14{font-size: .14rem;font-weight: bold;}
.bfs16{font-size: .16rem;font-weight: bold;}
.bfs18{font-size: .18rem;font-weight: bold;}
.fr{float: right;}
.fl{float: left;}
.green{color: #11a327}
a{text-decoration: none}
-webkit-user-select: none;